.contorno{
    --color: #41627c;
    --border-color: #41627c;
 }
 
 .enviar {
     --background: #41627c;
 }

 .google-button{
    --background: #fff;
    --color: #535353;
    --background-hover: none;
 }

