<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572520446720-g57edvbmpdssdcl5cfu512q1pnb07tib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572520446720-g57edvbmpdssdcl5cfu512q1pnb07tib</string>
	<key>API_KEY</key>
	<string>AIzaSyAleu_IlwxVEyN_hOthf6zep3u75inOFL8</string>
	<key>GCM_SENDER_ID</key>
	<string>572520446720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.autoshop</string>
	<key>PROJECT_ID</key>
	<string>appautoshop-11403</string>
	<key>STORAGE_BUCKET</key>
	<string>appautoshop-11403.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572520446720:ios:b8f1adec24a68519d411e5</string>
</dict>
</plist>